<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<form action="/register" method="post" th:object="${user}">
  <label for="userID">아이디:</label>
  <input type="text" id="userID" name="userID">
  <button type="button" onclick="validateField('userID')">검증</button>
  <span id="userIDMessage"></span><br/>

  <label for="password">비밀번호:</label>
  <input type="password" id="password" name="password">
  <button type="button" onclick="validateField('password')">검증</button>
  <span id="passwordMessage"></span><br/>

  <label for="confirmPassword">비밀번호 확인:</label>
  <input type="password" id="confirmPassword" name="confirmPassword">
  <button type="button" onclick="validateField('confirmPassword')">검증</button>
  <span id="confirmPasswordMessage"></span><br/>

  <label for="nickname">닉네임:</label>
  <input type="text" id="nickname" name="nickname">
  <button type="button" onclick="validateField('nickname')">검증</button>
  <span id="nicknameMessage"></span><br/>

  <label for="phone">전화번호:</label>
  <input type="text" id="phone" name="phone" placeholder="010-0000-0000">
  <button type="button" onclick="validateField('phone')">검증</button>
  <span id="phoneMessage"></span><br/>

  <label for="hintStatement">제시문:</label>
  <input type="text" id="hintStatement" name="hintStatement">
  <button type="button" onclick="validateField('hintStatement')">검증</button>
  <span id="hintStatementMessage"></span><br/>

  <label for="hintWord">제시어:</label>
  <input type="text" id="hintWord" name="hintWord">
  <button type="button" onclick="validateField('hintWord')">검증</button>
  <span id="hintWordMessage"></span><br/>

  <button type="submit">가입</button>
</form>
</body>
</html>
