<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
  <!--헤드부분-->
  <h1>로그인</h1>
  <form th:action="@{/login}" th:object="${login}" method="post">
    <div>
      <!--아이디 입력 제한 16자-->
      <label for="id">아이디</label>
      <input type="text" id="id" maxlength="16" placeholder="ID" th:field="*{title}" />
    </div>
    <div>
      <!--비밀번호 입력 타입 password 마스킹 처리 글자수 제한 16자-->
      <label for="pw">비밀번호</label>
      <input type="password" id="pw" maxlength="16" placeholder="PW" th:field="*{title}" />
    </div>
    <div>
      <button type="submit">로그인</button>
    </div>
  </form>
  <!--아래쪽 ID,PW 찾기 또는 회원가입 옵션-->
  <a th:href="@{/findID}">아이디 찾기</a>
  <a th:href="@{/findPW}">/ 비밀번호 찾기</a>
  <a th:href="@{/signUp}">/ 회원가입</a>
</div>
</body>
</html>
