<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
  <div class="head">
    <a href="/main">
      <img th:src="image/honey.png" alt = "메인" class="head">
    </a>
  </div>
  <div th:each="category : ${categories}">
        <a th:href="@{/board(category=${category})}"
           class="button"
           th:text="${category}"></a>
  </div>

  <div id="posts">
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>카테고리</th>
          <th>제목</th>
          <th>닉네임</th>
          <th>게시일</th>
        </tr>
      </thead>
      <tbody>

        <tr th:each="post, postStat : ${board}"
        th:if="${postStat.index < maxBoard}">
          <td th:text="${postStat.index + 1}"></td>
          <td th:text="${post.category}"></td>
          <td>
            <a th:href="@{/view(postno=${post.postno})}" th:text="${post.title}"></a>
          </td>
          <td>
            <a th:href="@{/board(name=${post.author})}" th:text="${post.author}"></a>
          </td>
          <td th:text="${post.getDate()}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="page" class="button" th:each="page : ${boardNo}">
    <a
  </div>

  <form th:action="/board" method="get">
   <label for="searchOptions"><img th:src="image/honey.png" alt = "검색"></label>
   <select id="searchOptions" th:field="*{searchOptions}">
     <option value="">검색조건</option>
     <option th:each="option : ${searchOptions}" th:value="${option}" th:text="${option}"></option>
   </select>
   <input type="text" th:field="*{search}" placeholder="검색내용을 입력하세요"
          th:value="${searchContent}"/>
   <button type="submit">검색</button>
 </form>
</body>
</html>
