<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
  <div class="head">
    <a href="/main">
      <img th:src="@{/image/honey.png}" alt = "메인" class="head">
    </a>
  </div>

  <div id="posts">
    <table>
      <thead>
        <tr>
          <th>카테고리</th>
          <th>제목</th>
          <th>닉네임</th>
          <th>게시일</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="post : ${board}">
          <td th:text="${post.category}"></td>
          <td th:text="${post.title}"></td>
          <td th:text="${post.author}"></td>
          <td th:text="${post.getDate()}"></td>
        </tr>
      </tbody>
    </table>
  </div>

 <div id = search-input>
   <label for="searchOptions">검색 조건</label>
   <select id="searchOptions" th:field="*{category}">
     <option value="">카테고리를 선택하세요</option>
     <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
   </select>
 </div>

</body>
</html>
